body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: linear-gradient(#1e5799, #7db9e8);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

#connectionbutton{
  color:red;
  font-weight: bold; 
}

#mylastripbutton{
  color:black;
  font-weight: bold; 
}

#onewayticket{
  font-size: 30px;
  color: #eaeff1;
}

.footer {
  color:#FFFFFF;
  text-align:center;
}

.titleNoTrain {
  color:#FFFFFF;
}