body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: linear-gradient(#1e5799, #7db9e8);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.home {
  color: #FFFFFF;
  padding-top: 20px;
  padding-bottom: 20px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#connectionbutton{
  color:red;
  font-weight: bold; 
}

#onewayticket{
  font-size: 30px;
  color: #eaeff1;
}

.footer {
  padding:200px;
  color:#FFFFFF;
  text-align:center;
}

.titleNoTrain {
  color:#FFFFFF;
}